<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style/layout.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>test</title>
</head>

<body>
  <div class="mainHeader">
    <div class="mainContainer">
      <h1 class="titleName">Unicorn Stock</h1>
      <div class="description">Stock 3d models for board games</div>
      <a href="/"><button id="regButton" type="button" class="btn btn-outline-light">Register</button></a>
    </div>
  </div>
  {{{body}}}
</body>

<footer>
  <div class="footerBox">
  <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">About us</button></a>
  <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">To become creater</button></a>
  <a href="/"><button type="button" class="btn btn-outline-light" style="width: 200px; margin: 5px">To become maker</button></a>
  </div>
</footer>
</html>

