

<form method="post" action="/login">

  <label>User name</label>
  <input class="regName" type="text" name="userName" required placeholder="Введите имя">

  <label>Password</label>
  <input class="regPassword" type="password" name="userPassword" required placeholder="Введите пароль">


  <button class="regBtn" type="submit">Решительно жми</button>
</form>
