<link rel="stylesheet" href="../style/main.css">

<div class="row my-5">
  <div class="col">
    <div id="allCards">
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title sfdgdf   fdgsdsfgfdgd</h5>
          <p class="card-text">nd make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card </h5>
          <p class="card-text">Some quick example tedfgdfgfdg dfgfdgfdgdg dsfgdfsgdfsgfdg dfgfdgdfgfxt to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to buicvbcvxbcvxbvcbc bcvbcvbvcxbcxvbvcxb bcxvbvcbcvxbbvcbvcx bcvxbvbcvxbcvbvbvcxbxcbvcxbxld on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/image/2906292241.jpg" class="card-img-top" alt="3d mdel">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
