<link rel="stylesheet" href="../style/myAccount.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div id="accountMainDiv">
  <div class="row">
    <div class="col-sm-3">
      <div id="cabinetSide" class="cabinetSide">
        <a href="#" class="cabinetBtn"><span class="circle"></span>{{user.name}}</a>
        {{#unless user.isCreater}}
        <a href="/myAccount/downloads" class="cabinetBtn pad"><span class="circleListing"></span> Downlands</a>
        {{/unless}}
        {{#if user.isCreater}}
        <a href="/myAccount/downloads" class="cabinetBtn"><span class="circleListing"></span> Downlands</a>
        <a href="#" class="cabinetBtn pad"><span class="circleListing"></span> Listings</a>
        {{/if}}

        <hr />
        <a href="/myAccount/creator" class="cabinetBtn"><span class="circle"></span> Become Creator</a>
        <a href="#" class="cabinetBtn"><span class="circle"></span> Become Maker</a>
      </div>
    </div>
  </div>


  {{#if user.isCreater}}
  <a href="/upload">add listing</a><br>
  {{/if}}
