<link rel="stylesheet" href="../style/addEdit.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<div id="addEditMainDiv">
  <div class="row">
    <div class="col-sm-3">
      <div id="cabinetSide">
        <a href="#" class="cabinetBtn"><span class="circle"></span> Creator</a>
        <a href="#" class="cabinetBtn"><span
            class="circleListing"
          ></span>Listings</a>
        <a href="#" class="cabinetBtn"><span
            class="circleSettings"
          ></span>Settings</a>
        <hr />
        <a href="#" class="cabinetBtn"><span class="circle"></span>
          User072635</a>
        <a href="#" class="cabinetBtn"><span class="circle"></span>
          Become Maker</a>
      </div>
    </div>
    <div class="col-sm-9">
      <div id="addEditSide">
        <h3 class="mb-3">My Account</h3>
        <h3></h3>
        
    </div>
  </div>
</div>
